<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ミニブログ ✨</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>

    <h1>ミニブログ ✨</h1>
    <a href="/new" class="header-link">新しい記事を投稿する 🎀</a>

    <% @posts.each do |post| %>
  <div class="post-card">
    <h2><a href="/posts/<%= post['id'] %>"><%= post['title'] %></a></h2>
    
    <p><%= post['content'][0, 100] %>...</p> 
    
    <form action="/delete/<%= post['id'] %>" method="POST" class="delete-form">
      ...
    </form>
  </div>
<% end %>

</body>
</html>