<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>新規投稿</title>
</head>
<body>
  <h1>新規投稿</h1>
  <form action="/create" method="post">
    <p>タイトル: <input type="text" name="title"></p>
    <p>内容: <textarea name="content"></textarea></p>
    <p><button type="submit">投稿</button></p>
  </form>
  <a href="/">戻る</a>
</body>
</html>
